# WordPress
.DS_Store
*.log
*.bak

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.projectile

# Composer
/vendor/
composer.lock

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/

# OS
Thumbs.db
